.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 30px;
}

.cart-icon-ball {
  position: absolute;
  top: -40%;
  right: -50%;
  width: 20px;
  height: 20px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.cart-icon-num {
  margin: 0;
  font-size: 11px;
}

@media only screen and (max-width: 600px) {
  .cart-icon {
    margin-left: 12px;
    margin-right: 20px;
  }
}
