.shoeslist-grid {
  min-height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 30px;
  padding: 40px 0 150px 0;
}

@media only screen and (max-width: 800px) {
  .shoeslist-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .shoeslist-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, 1fr);
  }
}
